body {
    background-color: #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, san-serif;
}
/* HEADINGS*/

.header--main {
    color: white;
    font-weight: normal;
    font-size: 50px;
}

.header--secondry{
    font-weight: 300;
    font-size: 42px;
    color: #ffffff;
}

.header-sub-header{
    color: gray;
    font-size: 21px;
}

/*LINKS*/

.link--cta {
    color: Aquamarine;
    font-size: 16px;
}

.footer {
    text-align: right;
    color: gray;
}
