html {
    background-color: black;
}

h1 {
    text-align: center;
    color: white;
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
}

p {
    text-align: center;
    color: white;
}